<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="red-software"></div>

    <div class="form-group">
        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
        <form  ng-controller="SoftwareUpload as up" name="up.form">
            <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'*'" accept="*" ngf-max-size="100MB" />
            <input type="text" class="form-control input-lg text-center" ng-model="up.name" />
            <input type="text" class="form-control input-lg text-center" ng-model="up.version" />
            <textarea type="text" class="form-control input-lg text-center" ng-model="up.description"></textarea>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="up.submit()">Add Software</button>
        </form>
        
    </div>

    <div class="software" ng-repeat="software in softwares" ng-controller="SoftwareContainerCtrl">
    	<div>{{software.name}}</div>
    	<div>{{software.version}}</div>
    	<div>{{software.description}}</div>
    	<button ng-click="update()">Update</button>
    </div>

        <a ng-repeat="device in devices" ng-controller="DeviceContainerCtrl" href="#/device/{{device}}">
            <div class="device-container" >
                <div>
                    <div>{{summary.name}}</div>
                    <div>{{summary.description}}</div>
                    <div>Creation Date : {{summary.creationDate | date:'fullDate'}}</div>
                </div>
                    <div>Permissions : {{summary.permissions}}</div>
                    <div>Users : {{summary.users}}</div>
            </div>
        </a>
    </ul>

</div>
<!-- /#page-content-wrapper -->